<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Inclusão de Filmes</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h3>Incluir Filme</h3>
        <form action="salvar" method="post">
            <div class="form-group">
                <label for="titulo">Título</label> <input type="text" class="form-control" id="titulo"
                                                      name="nome" placeholder="Nome" />
            </div>
            <div class="form-group">
                <label for="diretor">Diretor</label> <input type="diretor" class="form-control"
                                                        id="diretor" name="diretor" placeholder="Diretot" />
            </div>
            <div class="form-group">
                <label for="genero">Gênero</label> <input type="text" class="form-control" id="genero"
                                                      name="genero" placeholder="Gênero" />
            </div>
            <div class="form-group">
                <label for="sinopse">Sinopse</label> <input type="text" class="form-control" id="sinopse"
                                                        name="sinopse" placeholder="Sinopse" />
            </div>
            <div class="form-group">
                <label for="ano">Ano</label> <input type="text" class="form-control" id="ano"
                                                name="ano" placeholder="Ano" />
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="reset" class="btn btn-success">Cancelar</button>
        </form>
    </div>


    <script src="https://akax.googleapis.com/ajax/libs/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>